/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");

html,
body {
  height: 100%;
}
body {
  padding-top: 37px;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f4f4f4;
}
